.container, .container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.container-fluid {
    width: 80%;
    padding-right: .75rem;
    padding-left: 50px;
    margin-right: auto;
    margin-left: 220px;
    position: relative;
    margin-top: 50px;
}
.col-6{
    margin-left: 350px;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    background-size: cover;
}
.sidebar {
    width: 6.5rem;
    min-height: 100vh;
    margin-top: -50px;
}

@media (min-width:768px){
.sidebar {
    width: 14rem!important;
    position: relative;
    float: left;
}
}

.ml-5{
    margin-left : 0!important;
}

a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
}
.d-flex {
    display: flex!important;
}
.justify-content-center {
    justify-content: center!important;
}
.align-items-center {
    align-items: center!important;
}
.sidebar .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1;
}
.sidebar-dark .sidebar-brand {
    color: #fff;
}
.rotate-n-15 {
    transform: rotate(-15deg);
}
.fas{
    font-size: 50px;
}
@media (min-width: 768px){
.sidebar-brand-text {
    display: inline;
    font-family: gill sans;
}
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
    
}
.sidebar-dark hr.sidebar-divider {
    border-top: 2px solid rgba(255,255,255,.15);
}
.hr{
    border: 0;
}
.sidebar .nav-item {
    position: relative;
}
@media (min-width: 768px){
.sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 14rem;
}
}
.sidebar-dark .nav-item .nav-link {
    color: rgba(255,255,255,.8);
}
.sidebar .nav-item.active .nav-link {
    font-weight: 700;
    cursor: pointer;
}
.sidebar-dark .nav-item.active .nav-link {
    color: #fff;
    cursor: pointer;
}
.sidebar .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 15px;
}
.sidebar .sidebar-heading {
    text-align: left;
}
.sidebar-dark .sidebar-heading {
    color: rgba(255,255,255,.4);
}

.home .fas{
    font-size: 20px;
}

.profile .fas{
    font-size: 20px;
}
.user_edit .fas{
    font-size: 20px;
}
.daftar_user .fas{
    font-size: 20px;
}
.change_password .fas{
    font-size: 20px;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s;
}

.nav-item .img-profile{
    width: 80px;
    height: 80px;
    margin-top: 4.5rem;
    margin-left: 4.5rem;
}
