.bg-gradient-primary{
    background-color: #4e73df;
    background-size: cover;
}
body{
    height: 100%;
    display: block;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.justify-content-center {
    justify-content: center!important;
}
.container{
    max-width: 800px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 2rem;
}



.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
}

.my-5 {
    margin-top: 5rem!important;
    margin-bottom: 5rem;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
}

.p-5 {
    padding: 3rem;
}

.header{
    font-size: 20px;
    margin-top: -15px;
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}

form {
    display: block;
    margin-top: 0em;
}

.form-group {
    margin-bottom: 1rem;
}
div {
    display: block;
}

.form-control {
    display: block;
    height: 40px;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #85b3e7;
    border-radius: 20px;
    transition: border-color .15s;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #858796;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 20px;
    transition: color .15s;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}